.faq-title h1 {
    font-size: 40px; /* Reducir el tamaño del título */
    text-align: center; /* Centrar el título */
    padding: 20px 0; /* Ajustar el espaciado alrededor del título */
}

#icon2 {
    width: 80px; /* Redimensionar el ícono */
    height: auto; /* Mantener la proporción */
}

.document {
    background-color: white;
    padding: 20px; /* Ajustar el espaciado en dispositivos móviles */
}

.document h1 {
    font-size: 40px; /* Reducir el tamaño del título */
    text-align: center; /* Centrar el título */
    padding: 20px 0; /* Ajustar el espaciado alrededor del título */
}

.document ul,
.document p {
    font-size: 18px; /* Reducir el tamaño del texto */
    line-height: 1.5; /* Ajustar el espaciado entre líneas */
}

/* Media queries para resoluciones específicas */
@media (max-width: 375px) and (max-height: 667px),
       (max-width: 360px) and (max-height: 740px),
       (max-width: 344px) and (max-height: 882px) {
    .faq-title h1,
    .document h1 {
        font-size: 30px; /* Reducir aún más el tamaño del título para resoluciones pequeñas */
        padding: 10px 0; /* Ajustar el espaciado alrededor del título para resoluciones pequeñas */
    }

    .document ul,
    .document p {
        font-size: 16px; /* Reducir el tamaño del texto aún más para resoluciones pequeñas */
    }
}
