.faq-title h1 {
    font-size: 40px; /* Reducir el tamaño del título */
    text-align: center; /* Centrar el título */
    padding: 20px 0; /* Ajustar el espaciado alrededor del título */
}

#icon2 {
    width: 80px; /* Redimensionar el ícono */
    height: auto; /* Mantener la proporción */
}

.document {
    background-color: white;
    padding: 20px; /* Ajustar el espaciado en dispositivos móviles */
}

.document h1 {
    font-size: 40px; /* Reducir el tamaño del título */
    text-align: center; /* Centrar el título */
    padding: 20px 0; /* Ajustar el espaciado alrededor del título */
}

.document ul,
.document p {
    font-size: 18px; /* Reducir el tamaño del texto */
    line-height: 1.5; /* Ajustar el espaciado entre líneas */
}
