

.imagen-principal {
    width: 200px;
    height: auto;
}

.container2 {
    background: black;
    color: white;
}

.container-fluid {

    background-position: center;
    background: #00010c;
    color: white;


}

form {
    background: none;
}

#footer {
    background: #00010c;
    padding: 10px;
    font-size: 50px;
}