.logos{
    width: 100px; 
    height: 25px; 


} 
.container-shop{
    min-height: 100vh;
    background-color: black; 
}

.container-send{
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
   
}

.info {
    background-color: black;
  }
  .content h3 {
    margin-bottom: 10px; /* Espacio inferior entre el título y el span */
  }
  

.container2 {
    background: black;
    color: white;
}

.container-fluid {

    background-position: center;
    background: #00010c;
    color: white;


}

form {
    background: none;
}

#footer {
    background: #00010c;
    padding: 10px;
    font-size: 50px;
}
.btn-primary.w-100 {
    width: 100% !important; /* Asegura que el ancho se aplique */
}
